.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10rem 0 0 0;
}

.landing-page__btnGroup {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 3rem 0;
  width: 50%;
}

.landing-page__btn {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 3rem;  
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(196, 126, 89, 0.5);
  width: 15rem;
}

.landing-page__btn:hover {
  box-shadow: 2px 2px 5px rgba(196, 126, 89, 1);
  background-color: rgba(0, 0, 0, 0.5);
  color: #C47E59;
}