.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.user-form__input,
.user-form__btn,
.password-fields__password-toggle-btn,
.user-form__password-fields {
  width: 50%;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  color: #fff;
}

.user-form__greeting {
  border: none;
  margin: 1rem;
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

.password-fields__password-toggle-btn,
.user-form__btn,
.user-form__input {
  padding: 1rem;
  color: #fff;
}

.password-fields__input::placeholder,
.user-form__input::placeholder {
  font-family: 'Exo', sans-serif;
  color: rgba(256, 256, 256, 0.5);
}
.password-fields__password-toggle-btn,
.user-form__btn {
  border: 2px solid #625049;
  box-shadow: 2px 2px 10px #C28744
}

.password-fields__password-toggle-btn:hover,
.user-form__btn:hover {
  background-color: #C28744;
  color: #fff;
}

.user-form__btn:disabled {
  color: rgba(256, 256, 256, 0.5);
  box-shadow: none;
}

.user-form__btn:disabled:hover {
  background-color: #C28744;
  color: #fff;
  cursor: default;
}

.user-form__password-fields {
  display: flex;
}

.password-fields__input {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  color: #fff;
}

.password-fields__password-toggle-btn {
  padding: 0 1rem;
  margin: 0;
  border: none;
  width: 12rem;
  box-shadow: none;
}