.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  width: 50%;
}

.user-form__input,
.user-form__btn,
.password-fields__password-toggle-btn,
.user-form__password-fields {
  margin: 1rem;
  border: 2px solid #625049;
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  background-color: rgba(256, 256, 256, 0.5);
}

.user-form__greeting {
  border: none;
  margin: 1rem;
  font-size: 4rem;
  text-align: center;
  color: #5F504A;
}

.password-fields__password-toggle-btn,
.user-form__btn,
.user-form__input {
  padding: 1rem;
  color: #310906;
}

.password-fields__input::placeholder,
.user-form__input::placeholder {
  font-family: 'Exo', sans-serif;
  color: #625049;
}
.password-fields__password-toggle-btn,
.user-form__btn {
  background-color: #C28744;
  border: 2px solid #625049;
  box-shadow: 2px 2px 10px #310906
}

.password-fields__password-toggle-btn:hover,
.user-form__btn:hover {
  background-color: #625049;
  color: #fff;
}

.password-fields__password-toggle-btn:disabled,
.user-form__btn:disabled {
  opacity: 0.5;
}

.user-form__btn:disabled:hover {
  background-color: #C28744;
  color: #625049;
  cursor: default;
}

.user-form__password-fields {
  display: flex;
}

.password-fields__input {
  background-color: rgba(256, 256, 256, 0.5);
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border: none;
}

.password-fields__password-toggle-btn {
  padding: 0 1rem;
  margin: 0;
  border: none;
  width: 12rem;
  box-shadow: none;
}