.report-form {
  display: inline-grid;
  width: 45%;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr auto 1fr 1fr auto;
  grid-gap: 2rem;
  color: #fff;
  padding: 1rem 0 0 1rem;
}

.report-form__heading {
  grid-column: 1/3;
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

.report-form__label {
  font-size: 2rem;
  font-weight: 800;
}

.report-form__textarea,
.report-form__input {
  height: 3rem;
  background-color: rgba(256, 256, 256, 0.5);
  font-family: 'Exo', sans-serif;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  color: #fff;
  outline-color: #C28744;
}

.report-form__textarea {
  height: 6rem;
}

.report-form__textarea::placeholder,
.report-form__input::placeholder {
  font-family: 'Exo', sans-serif;
  color: rgba(256, 256, 256, 0.5);
}

.report-form__btn {
  grid-column: 1/3;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #C28744;
  color: #fff;
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #C28744;
}

.report-form__btn:hover {
  background-color: #C28744;
  color: #fff;
}

.report-form__btn:disabled {
  box-shadow: 2px 2px 10px #000;
  border: none;
  color: rgba(256, 256, 256, 0.5);
  cursor: initial;
}

.report-form__btn:disabled:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(256, 256, 256, 0.5);
}

input[type=date] {
  cursor: pointer;
}