.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 10rem;
}

.header__h1 {
  color: #fff;
  display: inline-block;
  margin: 0;
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

.header__nav-list-item {
  display: inline-block;
  margin: 1rem;
}

.header__username,
.header__nav-link {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.header__username {
  color: #C47E59;
}

.header__h1:hover,
.header__nav-link:hover {
  color: #C47E59;
}